body {
  font-family:system-ui;
}

h1 {
	text-align: center;
}

table {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	vertical-align: top;
	border-collapse: collapse;
}

th, td {
	border: 1px solid lightgray;
	padding: 5px;
}

table p {
	margin: 0;
}